body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-image: url("imgForDesign/background.main.png");
  background-size: 1000px;
  font-family: "Roboto", sans-serif;
}

.d-flex {
  display: flex;
  align-items: center;
  gap: 5px;
}

.fullscreen {
  cursor: pointer;
  object-fit: cover;
  height: 80px;
}

.fullscreenDiv {
  margin-left: 200px;
}

.safari-header {
  display: none !important;
}

.playAgainBtn {
  position: absolute;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #343a40;
  /* dunkler Hintergrund */
  color: #fff;
  /* helle Schrift */
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  /* coole Schrift */
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  top: 50%;
  font-family: "Press Start 2P";
}

.menuSettings {
  border-radius: 20px;
  font-size: 22px;
  font-weight: 800;
  color: white;
  background-color: #61536d;
  padding: 20px;
}

.spaceBar {
  height: 80px;
}

.settings1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.settings1 p {
  font-size: 18px;
  color: #b5b5b5;
}

.settings {
  border: 2px solid rgb(6, 6, 6);
  font-size: 20px;
  position: absolute;
  top: 28%;
  left: 2;
  border-radius: 0px;
  padding: 20px;
  color: #e1e1e1;
  background-color: rgb(19, 19, 19);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  width: 30vw;
}

.history {
  border: 2px solid rgb(6, 6, 6);
  overflow-y: scroll;
  position: absolute;
  top: 28%;
  left: 2;
  border-radius: 0px;
  padding: 20px;
  color: #e1e1e1;
  background-color: rgb(19, 19, 19);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  width: 30vw;
}

.programmedBy {
  border: 2px solid rgb(6, 6, 6);
  overflow-y: scroll;
  position: absolute;
  top: 28%;
  left: 2;
  border-radius: 0px;
  padding: 20px;
  color: #e1e1e1;
  background-color: rgb(19, 19, 19);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  width: 30vw;
}

header {
  background-color: rgb(10, 10, 10);
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.muteImg {
  background-color: whitesmoke;
  border-radius: 50%;
  margin-right: 50px;
  height: 50px;
  cursor: pointer;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.box {
  position: absolute;
  height: 70px;
  top: 20%;
  left: 70%;
}

.muteImg:hover {
  background-color: #c83636db;
}

.logo {
  height: 80px;
  margin-left: 40px;
}

.menu {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #61536d;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.letter-d {
  height: 30px;
}

.btnOfMenu {
  padding: 10px 20px;
  font-size: 16px;
  color: rgba(236, 236, 236, 0.886);
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.btnOfMenu:hover {
  transform: scale(1.1);
  color: whitesmoke;
}

.btnOfMenu:active {
  transform: scale(0.9);
}

body::before {
  content: "";
  position: absolute;
  background: rgba(0,
      0,
      0,
      0.588);
  /* Hier können Sie den Wert der Transparenz ändern */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -20;
}

.header-text {
  color: whitesmoke;

  font-weight: 800;
  font-size: 20px;
}

h1 {
  margin: 0;

  font-size: 95px;
}

h2 {
  color: rgba(245, 245, 245, 0.563);
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  z-index: 9999;
}

#overlayMobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  z-index: 1;
  display: none;
}

#startButton {
  position: absolute;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #343a40;
  /* dunkler Hintergrund */
  color: #fff;
  /* helle Schrift */
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  /* coole Schrift */
  cursor: pointer;
  transition: 225ms all ease-in;
  top: 50%;
  font-family: "Press Start 2P";
}

#startButton:hover {
  transform: scale(1.1);
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnOfMenu {
  margin-left: 10px;
  margin-right: 10px;
  background-color: transparent;
  border: 1px solid #000000;
  color: #000000;
  padding: 8px 16px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

button:hover {
  background-color: #c11818d3;
}

.rotate {
  object-fit: contain;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  height: 40%;
  width: 100%;
  display: none;
}

.bottomS {
  position: absolute;
  top: 60%;
  height: 200px;
  width: 720px;
}

.enemieAnimation {
  height: 400px;
  position: absolute;
  top: 40%;
  right: 20%;
}

.heroAnimation {
  height: 400px;
  position: absolute;
  top: 40%;
  left: 50%;
}

.animationHero {
  height: 400px;
  position: absolute;
  top: 18%;
  left: -300px;
  /* Startposition: außerhalb des sichtbaren Bereichs */
  animation-name: hero-enter;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.enemieAnimation {
  height: 500px;
  position: absolute;
  top: 17%;
  right: -300px;
  /* Startposition: außerhalb des sichtbaren Bereichs */
  animation-name: enemy-enter;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* Animation-Regel */
@keyframes enemy-enter {
  0% {
    transform: translateX(300px);
    /* Startposition: außerhalb des sichtbaren Bereichs */
  }

  100% {
    right: 2%;
    /* Zielposition: rechts mit 20% Abstand vom rechten Rand */
  }
}

/* Animation-Regel */
@keyframes hero-enter {
  0% {
    transform: translateX(-300px);
    /* Startposition: außerhalb des sichtbaren Bereichs */
  }

  100% {
    left: 2%;
    /* Zielposition: links mit 20% Abstand vom linken Rand */
  }
}

#gameOverOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  z-index: 999999;
}

.gameOver {
  font-family: "Press Start 2P";
  font-size: 70px;
  font-weight: 700;
  position: absolute;
  top: 40%;
  color: #fff;
}

#gameOverContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: none;
}

/* smartphone */
@media only screen and (max-width: 720px) {
  canvas {
    width: fit-content;
  }

  .buttons {
    display: block;
  }

  h1 {
    display: none;
  }

  h2 {
    display: none;
  }

  header {
    display: none;
  }

  #E-Img {
    display: none;
  }

  #H-Img {
    display: none;
  }

  .menu {
    display: none;
  }

  header {
    display: none;
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100svh;
    width: 100svw;
    margin-top: 0;
  }

  .muteImg {
    position: absolute;
    height: 70px;
    top: 5%;
    right: 0;
    height: 40px;
  }

  .buttons {
    display: block;
  }

  .topArrow {
    position: absolute;
    height: 50px;
    top: 80%;
    right: 14.75%;
  }

  .btnShuriken {
    position: absolute;
    height: 70px;
    top: 58%;
  }

  h1 {
    display: none;
  }

  h2 {
    display: none;
  }

  header {
    display: none;
  }

  #E-Img {
    display: none;
  }

  #H-Img {
    display: none;
  }

  .gameOver {
    font-size: 20px;
  }

  .menu {
    display: none;
  }
}

.spacebarPNG {
  height: 50px;
  object-fit: contain;
  align-items: center;
}

@media (max-width: 1400px) {
  .enemieAnimation {
    height: 420px;
    top: 21%;
  }

  .heroAnimation {
    height: 377px;
  }
}

@media (max-width: 1200px) {
  .enemieAnimation {
    height: 303px;
    top: 29%;
  }

  .heroAnimation {
    height: 288px;
    top: 48%;
  }
}

@media (max-width: 940px) {
  .enemieAnimation {
    height: 221px;
    top: 33%;
  }

  .heroAnimation {
    height: 210px;
    top: 51%;
  }
}

@media (max-width: 930px) {
  .title {
    font-size: 60px;
  }
}

.swordButton {
  position: absolute;
  height: 70px;
  top: 78%;
}

.rightArrow {
  position: absolute;
  height: 50px;
  top: 88%;
  right: 10%;
}

.leftArrow {
  position: absolute;
  height: 50px;
  top: 87%;
  right: 20%;
}

.topArrow {
  position: absolute;
  height: 50px;
  top: 80%;
  right: 14.75%;
}

.btnShuriken {
  position: absolute;
  height: 70px;
  top: 58%;
}

@media (min-height: 480px) {
  .rotate {
    display: block;
    animation: rotation 4s infinite linear;
    overflow: hidden;
    z-index: 4;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  #overlayMobile {
    display: block;
  }
}

/* Für Webkit-basierte Browser */
::-webkit-scrollbar-track {
  border: 1px solid black;
  background-color: #131313;
}

::-webkit-scrollbar-thumb {
  background-color: #61536d;
}

::-webkit-scrollbar {
  width: 10px;
}


.header-of-info {
  display: flex;
  justify-content: space-between;
}

@media (max-height:700px) {
  #canvas {
    width: 650px;
    height: 400px;
  }
}